header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0.75rem;
    left: 10%;
    width: 80%;
    border-radius: 24px;
    z-index: 2;
}
